@use "@/styles/variables" as *;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100svw;
  background-color: $black-cold;

  .heroContent {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: min(98%, 65rem);
    height: fit-content;
    padding-top: 2rem;
    background-color: transparent;
    backdrop-filter: brightness(0.8) blur(8px);
    border-radius: 1.5rem;
    @media (min-height: $sm) and (min-width: $sm) {
      gap: 1rem;
      background-color: transparent;
      backdrop-filter: none;
      padding-top: 3.5rem;
    }
  }

  .heroInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    height: calc(42vh - 5rem);
    width: 100%;
    min-height: 12rem;
    margin-top: 1.5rem;
    padding-inline: 1rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    .heroHeadline {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      align-items: start;
      position: relative;
      z-index: 2;

      .headline {
        h1 {
          font-size: clamp(1.7rem, 5vw, 2.7rem);
          color: $white;
          font-family: $font-primary;
          line-height: 1.1;
        }
      }
      .subheadline {
        @include flexCenter;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: fit-content;
        p {
          font-size: clamp(0.775rem, 0.2rem + 1.75vw, 1.15rem);
          color: $white-secondary;
          font-family: $font-primary;
          font-weight: bold;
          text-wrap: balance;
        }
      }
    }

    .ctaContainer {
      position: relative;
      z-index: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      button {
        @include flexCenter;
        gap: 0.25rem;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-secondary;
        padding-block: 0.65rem;
        padding-inline: 0.55rem;
        border-radius: 1rem;
        font-size: clamp(0.575rem, 1.75vw, 0.9rem);
        cursor: pointer;
        height: 100% !important;
        .icon {
          font-size: clamp(1rem, 0.2rem + 1.75vw, 1.2rem);
          line-height: 0;
        }
      }
      .price {
        background-color: $black;
        color: $white-primary;
        border: none;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        padding-block: 0.8rem;
        .pulseCircle {
          position: relative;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 2rem;
          background-color: $green;
          margin-inline: 0.5rem;
          transition: background-color 0.3s ease-in-out;

          .circle {
            position: absolute;
            inset: 0;
            background-color: $green;
            border-radius: 2rem;
            animation: pulseFading infinite 1s;
            transition: background-color 0.3s ease-in-out;
          }
        }
        &:hover {
          background-color: $green;
          .pulseCircle,
          .circle {
            background-color: $black;
          }
        }
      }
      .whatsapp {
        background-color: $green-whatsapp;
        border: none;
        color: $white-primary;
        filter: brightness(1);
        transition: filter 0.3s ease-in-out;
        &:hover {
          filter: brightness(1.1);
        }
      }
    }
    @media (max-height: $sm) {
      gap: 1rem;
      .heroHeadline {
        .headline {
          h1 {
            font-size: 1.5rem;
          }
        }
      }
      .heroHeadline .subheadline {
        p {
          font-size: 0.75rem;
          max-width: 25rem;
        }
      }
      .ctaContainer {
        button {
          font-size: 0.7rem;
          padding-block: 0.65rem;
          padding-inline: 0.55rem;
          .price {
            padding-block: 2.5rem !important;
          }
        }
      }
    }
    @media (min-width: $sm) {
      padding-inline: 1.5rem;
      .ctaContainer {
        justify-content: start;
      }
    }
    @media (min-height: $sm) and (min-width: $sm) {
      background-color: transparent;
      backdrop-filter: brightness(0.8) blur(8px);
      padding-bottom: 0;
      height: calc(52vh - 5rem);
    }
    @media (min-width: $md) {
      padding-inline: 3.5rem;
    }
    @media (min-width: $md) and (min-height: $sm) {
      height: calc(60vh - 5rem);
    }
  }

  .heroVisual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: calc(48vh - 5rem);
    @media (min-height: $sm) and (max-width: $sm) {
      flex-direction: column-reverse;
    }
    .heroImageContainer {
      @include flexCenter;
      border-radius: 2rem;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      display: none;
      @media (min-height: $sm) or (min-width: $md) {
        background-color: transparent;
        backdrop-filter: brightness(0.8) blur(8px);
        display: flex;
      }

      .heroIconContainer {
        position: relative;
        width: 100%;
        height: 100%;
        scale: 1.2;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
    }
    @media (min-width: $md) {
      height: calc(40vh - 5rem);
      flex-direction: row;
      .heroImageContainer {
        width: 50%;
      }
    }
  }
}

.listContent {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 2rem;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
  .firstItems,
  .lastItems {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: space-between;
    .item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      width: fit-content;
      padding-block: 0.25rem;
      padding-inline: 0.55rem;
      border-radius: 1rem;
      background-color: $black-cold;
      color: $white-primary;
      overflow: hidden;
      cursor: default;
      p {
        position: relative;
        font-size: clamp(0.575rem, 1.55vw, 0.875rem);
        font-family: $font-secondary;
        text-wrap: balance;
        @media (max-height: $sm) {
          font-size: 0.65rem;
        }
      }
      .spotlight {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4.5rem;
        border-radius: 1rem;
        mask-image: linear-gradient(to right, black, transparent 90%);
        transition: width 0.3s ease-in-out;
      }
      .icon {
        @include flexCenter;
        position: relative;
        z-index: 1;
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        border-radius: 12rem;
        background-color: $black;
      }
      .itemCapacity,
      .itemTemperature,
      .itemLocals,
      .itemService {
        position: relative;
        z-index: 1;
      }
      &:hover {
        .spotlight {
          width: 50%;
        }
      }
    }
  }
  @media (min-height: $sm) and (min-width: $sm) {
    background-color: transparent;
    backdrop-filter: brightness(0.8) blur(8px);
    justify-content: center;
    .firstItems,
    .lastItems {
      gap: 2rem;
    }
  }
  @media (max-height: $sm) and (min-width: $md) {
    padding-left: 3.5rem;
  }
}

.backgroundImage {
  position: absolute;
  inset: 0;
  background-image: url("/images/hero.webp");
  background-position: center;
  background-size: cover;
  opacity: 0.75;
  filter: brightness(0.9);
}

@keyframes pulseFading {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 3;
    opacity: 0;
  }
}
