$black: #0a0a0a;
$black-cold: #212529;
$black-light: #2d2d2d;

$blue: #489fb5;
$blue-light: #b8c0ff;

$brown: #b07d62;

$green: #4f772d;
$green-whatsapp: #25d366;

$neutral-light: #f0f0f0;

$orange: #ffa857;
$orange-yellow: #ffa500;
$orange-secondary: #ff6a00;

$purple: #5a189a;

$white: #ffffff;
$white-primary: #fefdfb;
$white-secondary: #f4f3ee;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Inter", sans-serif;

$font-poppins-light: 300;
$font-poppins-regular: 400;
$font-poppins-medium: 500;
$font-poppins-semibold: 600;
$font-poppins-semibold-italic: 600 italic;
$font-poppins-bold: 700;
$font-poppins-extrabold: 800;

$font-inter-regular: 400;
$font-inter-medium: 500;
$font-inter-semibold: 600;

$xs: 520px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
