@use "@/styles/variables" as *;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: min(90svw, 35rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
  border-radius: 1rem;
  background-color: transparent;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  label,
  input,
  select,
  select option,
  textarea {
    font-family: $font-secondary;
    color: $black-cold;
    font-size: 16px;
    outline: none;
  }
  label,
  input,
  textarea {
    background-color: transparent;
  }
  input,
  select,
  textarea {
    padding: 0.35rem;
  }
  input {
    border: none;
    border-bottom: 1px solid #0a0a0a50;
  }
  label {
    font-weight: 600;
    text-transform: uppercase;
    color: $black;
  }
  select,
  select option {
    background-color: $white-secondary;
    border: 1px solid #0a0a0a50;
  }
  textarea {
    border: 1px solid #0a0a0a50;
    border-radius: 0.5rem;
    background-color: transparent;
    resize: none;
    font-size: 16px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px $white-secondary inset;
    box-shadow: 0 0 0px 1000px $white-secondary inset;
    -webkit-text-fill-color: $black-cold;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.mandatory {
  span {
    color: $red-opache;
  }
}