@use "@/styles/variables" as *;

.container {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: min(90%, 1280px);
    border: 1px solid black;
}